<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" style="background-color: black;" role="document">
    <div style="background-color: black;" class="modal-content">
      <div style="background-color: black;" class="modal-header">
        <div class="title-section container">
          <label class="heading m-0 py-2" for="teamId">Undertaking Link</label>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/uploadUndertaking" method="post">

        <div style="background-color: black" class="modal-body">

          <input class="justify-center" style="text-align: center;
              color:black;
              width: 70%;
              padding: 5px;
              font-size: 16px;
              border-radius: 10px;" name="undertaking" id="undertaking" placeholder="Enter drive link of undertaking"
            required autocomplete="off">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="site-mobile-menu site-navbar-target">
  <div class="site-mobile-menu-header">
    <div class="site-mobile-menu-close">
      <span class="icon-close2 js-menu-toggle"></span>
    </div>
  </div>
  <div class="site-mobile-menu-body"></div>
</div>
<div class="site-navbar py-2" role="banner">
  <div class="">
    <div class="d-flex align-items-center">
      <div class="site-logo">
        <a href="/">
          <img src="/images/logo.png" alt="Logo" height="80px" />
        </a>
        <h3>IIT Mandi</h3>
      </div>
      <!-- changed -->
      <div id="cont">
        <nav class="site-navigation text-right" role="navigation">
          <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
            <li id="sign" class="nav-link sze">
              <a href="/" class="nav-link sze">Home</a>
            </li>
            <li><a href="/#about" class="nav-link sze">About Us</a></li>
            <li><a href="/events" class="nav-link sze">Events</a></li>
            <li><a href="/#sponsers" class="nav-link sze">Sponsors</a></li>
            <li><a href="/ourteam" class="nav-link sze">Our Team</a></li>
            <li><a href="/gallery" class="nav-link sze">Gallery</a></li>

            <ul class="site-menu main-menu js-clone-nav mr-auto d-none">
              <li><a id href="/#contact" class="nav-link sze">Contact</a></li>
            </ul>
            <% if(!authenticated){ %>
              <li>
                <a id="sign" class="nav-link sze" href="/auth/google">SignIn</a>
              </li>
              <% }else{ %>
                <ul class="site-menu main-menu js-clone-nav mr-auto d-none">
                  <li><a id="sign" href="/rulebooks" class="nav-link sze">Rulebooks</a></li>
                  <li><a id="sign" href="/profile" class="nav-link sze"> Profile</a></li>

                  <% if(admin){%>
                    <li><a id="sign" href="/verify" class="nav-link sze">Verify</a></li>
                    <%}%>
                      <li><a id="sign" href="/payment" class="nav-link sze">Payments</a></li>
                      <li>
                        <a id="sign" href="/auth/logout" class="nav-link sze">Logout</a>
                      </li>

                      <!-- Button trigger modal -->
                      <li>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                          Upload undertaking
                        </button>
                      </li>
                </ul>
                <% } %>
          </ul>

        </nav>
        <!-- changed -->
      </div>
      <a href="#" style="display: inline-block ; position: absolute;
          right: 37px;" class=" site-menu-toggle js-menu-toggle text-black float-right text-white"><span
          class="icon-menu h3 text-white"></span></a>
    </div>
  </div>
</div>