* {
    padding: 0px;
    margin: 0px;
    /* font-size: 1em; */
    font-family: Arial, Helvetica, sans-serif;
}

html{
    scroll-behavior: smooth;
}

#navbar {
    width: 100%;
    /* font-size: 20px; */
    background-color: black;
    display: flex;
    height: 50px;
    padding: 10px;
    position: fixed;
    top: 0px;
}

.cont {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    list-style: none;
    margin: 10px;
    font: 25px;
}

.cont a {
    text-decoration: none;
    margin: 20px;
    color: white;
}

#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */
    height: 500px;
    background: url("img/bg.jpg") no-repeat center center/cover;
}

#about{
    margin: 55px;
    /* border: 2px solid red; */
    width: 70%;
    height: auto;
    text-align: center;
    font:bolder;
    font-size: 30px;
}


#services{
    background-color: rgb(236, 226, 226);
    margin-top: 100px;
    /* border: 2px solid red; */
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#contain{
    display: flex;
    width: 100%;
    /* align-items: center; */
    justify-content: center;
    padding-top: 30px;
    /* font-weight: bold; */

    font-size: 1.2rem;
}

.first{
    border: 2px solid red ;
    border-radius: 10px;
    /* box-shadow: 20px black; */
    margin: 10px;
    width: 30%;
    height: auto;

}
.second{
    width: 30%;
    height: auto;
    border: 2px solid red ;
    border-radius: 10px;

    margin: 10px;
}
.third{
    width: 30%;
    height: auto;
    border-radius: 10px;

    border: 2px solid red ;
    margin: 10px;
}



#sponser{
    display: flex;
    flex-direction: column;
    margin-top:100px ;
    border: 2px solid red;
    height: auto;
    background: url("img/sponbg.jpg") no-repeat center center/cover;
    align-items: center;
}
.spon{
    margin: 40px;
    display: flex;
    padding: 20px;
}
.spon img{
    margin: 40px;
}


#contact{
    margin-top: 100px;
    height: auto;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    background: url("img/contactBg.jpg") no-repeat center center/cover;
}
#form{
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 20px;
}

