@media only screen and (max-width:1000px){
    #page{
        flex-direction: column;

    }
    .conti{
        width: 70% !important;
    }
    .contiu{
        overflow-y:unset !important;
        height: unset !important;
        width: 70% !important;
    }
}

@media only screen and (max-width:500px){
    h1{
        font-size: 3rem !important;
    }
    h2{
        font-size: 19px;
    }
    .title-section{
        font-size: 15px;
    }
    .leaderboard__name{
        font-size: 15px !important;
    }
    .contiu{
        width: 90% !important;
    }
}
