@media only screen and (max-width:900px){
    #container{
        flex-direction: column;
    align-items: center;
    }
    .contain{
        height: unset !important; 
     overflow-y: unset !important;
    }

    #conti{
        width: 100% !important;
    }

    .teaminfo{
        width: 60% !important;
    }

    .team{
        width: 100% !important;
    }
}

@media only screen and (max-width:400px){
    .player{
        font-size: 15px !important;
    }
    
    .title-section h2{
        font-size: 15px !important;
    }

    .teaminfo span{
        font-size: 20px !important;
    }
}
@media only screen and (max-width:500px){
    .teaminfo{
        width: 90% !important;
    }
    .contain{
        width: 100% !important;
    }
    .player{
        width: 75% !important;
    }
}
